{{!-- * Vista para error de no tener los permisos suficientes * --}}

<div class="container">
	<h1>401 Unauthorized</h1>
	<p>Lo siento, no tienes permiso para acceder a esta página.</p>
	<p>Debes iniciar sesión para poder ingresar <a href="/login">Aquí</a></p>
</div>